<div class="main">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-12">
                <h1 class="mb-0">Initiate Claim</h1>
            </div>
        </div>

        <div class="card claim-info p-4">
            <div class="row mt-2">
                <div class="col-lg-12">
                    <h4>Enter claim Information</h4>
                </div>
            </div>

            <form action="#" class="mt-4">
                <div class="row mb-3">
                    <label for="Customer" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Customer
                        #</label>
                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="search cursor-pointer">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12"></div>
                    <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <p class="customer-details">
                            ISI DESIGN AND INSTALLATION SOLUTIONS INC (Primary customer - 0011075- ISI DESIGN AND
                            INSTALLATION SOLUTIONS Inc.)
                            DBA FKA-CREATIVE TOUCH INT’S INC
                            P O BOX 4929
                            ORLANDO, FL 32802-4929
                        </p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Store
                        #</label>
                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="search cursor-pointer" (click)="openModalModalStoreInvoice()">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="w-100">
                    <hr>
                </div>

                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Invoice not
                        available</label>
                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input mt-2" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>
                <div class="row mb-3 justify-content-end justify-content-lg-start">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Doc
                        Type/Number/Date</label>
                    <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="row">

                            <div class="col-12 col-xl-3 col-lg-3 col-md-12 col-sm-3 mb-3 mb-lg-0">
                                <select class="form-select form-control" aria-label="Default select example">
                                    <option selected="">INV</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-12 col-xl-5 col-lg-5 col-md-12 col-sm-4 mb-3 mb-lg-0">
                                <div class="search">

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-12 col-sm-4 mb-0 mb-lg-0">
                                <input type="text" class="form-control" placeholder="DD/MM/YYY">
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 position-relative top-25 mt-3 mt-lg-0">
                        <button type="button" class="d-sm-inline-block btn btn-sm btn-primary"
                            (click)="openModalAddInvoice()">Retrieve Invoice</button>
                    </div>



                </div>
                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Roll
                        Number</label>
                    <div class="col-12 col-xl-4 col-lg-3 col-md-6 col-sm-12">
                        <input type="text" class="form-control" id="Store">
                    </div>
                </div>

                <div class="w-100">
                    <hr>
                </div>
                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Claim
                        Category</label>
                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <select class="form-select form-control" aria-label="Default select example">
                            <option selected>SHAW DEFECT</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Reason
                        Code</label>

                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-3 mb-2">
                        <select class="form-select form-control" aria-label="Default select example">
                            <option selected="">Select One</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">End User Claim
                        or
                        Customer Number
                        Not Available?</label>
                    <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="d-flex align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input mt-2" type="checkbox" id="flexSwitchCheckDefault">
                            </div>
                            <div class="ms-3"><button type="button" class="d-sm-inline-block btn btn-sm btn-primary"
                                    (click)="openModalEndUserInfo()">Add End User
                                    Information</button></div>
                        </div>
                    </div>


                </div>
                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label"> Associated to
                        Global
                        Account?</label>
                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input mt-2" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Job
                        stopped?</label>
                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input mt-2" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Priority
                        Claim</label>
                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input mt-2" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="Store" class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-form-label">Add to Watch
                        List</label>
                    <div class="col-12 col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input mt-2" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col" colspan="4" class="text-center">Document</th>
                                        <th scope="col" colspan="3" class="text-center">Associated Invoice</th>
                                    </tr>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Total $’s</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row"><a href="" class="text-danger"><i
                                                    class="fa-solid fa-trash-can"></i></a></td>
                                        <td scope="row">INV</td>
                                        <td>7577923</td>
                                        <td>06/11/2019</td>
                                        <td>7577923</td>
                                        <td>06/11/2019</td>
                                        <td class="text-end">$2,482.92</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12 mt-2 text-end d-flex gap-3 justify-content-end flex-wrap">

                        <a class="d-sm-inline-block btn btn-sm btn-secondary" (click)="openModalStopInitiate()">Stop
                            Initiate</a>
                        <a class="d-sm-inline-block btn btn-sm btn-primary" (click)="openModalEnterClaim()">Continue
                            Initiation</a>

                        <a class="d-sm-inline-block btn btn-sm btn-primary" (click)="openModalWarning()">Warning
                            Popup</a>

                        <a class="d-sm-inline-block btn btn-sm btn-primary" (click)="openModalInfo()">Info
                            Popup</a>


                        <a class="d-sm-inline-block btn btn-sm btn-primary" (click)="openModalError()">Error
                            Popup</a>

                    </div>
                </div>
            </form>



        </div>


    </div>
    <!-- Modal Enter Claim Notes -->
    <div class="modal modal-bg" id="modalEnterClaim" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Enter Claim Notes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="CloseModalEnterClaim()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h6>confidential Claim Notes</h6>
                            <div class="mb-3">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-2 mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Spell Check</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 d-flex gap-3 flex-wrap"><button type="button" class="btn btn-primary"
                                    (click)="openModalInitiateClaim()">Initiate
                                    Claim</button></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Stop Initiate -->
    <div class="modal modal-bg" id="stopinitiate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="stopinitiateLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stopinitiateLabel">Message from webpage</h5>
                    <button type="button" class="btn-close" (click)="CloseModalStopInitiate()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p><i class="fas fa-question-circle"></i> Are you sure you want to stop the initiation
                                process?</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12 d-flex gap-3 flex-wrap">
                            <button type="button" class="btn btn-secondary"
                                (click)="CloseModalStopInitiate()">Cancel</button>
                            <button type="button" class="btn btn-primary">Ok</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Warning -->
    <div class="modal modal-bg" id="modalWarning" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalWarningLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-warning" id="modalWarningLabel"><i
                            class="fa-solid fa-triangle-exclamation"></i>
                        Warning</h5>
                    <button type="button" class="btn-close" (click)="CloseModalWarning()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p> Lorem ipsum dolor sit amet. Non iste numquam ut
                                explicabo dolore qui voluptas!</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12 d-flex gap-3 flex-wrap">
                            <button type="button" class="btn btn-secondary" (click)="CloseModalWarning()">Quit</button>
                            <!-- <button type="button" class="btn btn-primary">Ok</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Info -->
    <div class="modal modal-bg" id="modalInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalInfoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInfoLabel"><i class="fa-solid fa-circle-exclamation"></i> Info
                    </h5>
                    <button type="button" class="btn-close" (click)="CloseModalInfo()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet. Non iste numquam ut explicabo dolore qui voluptas!</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12 d-flex gap-3 flex-wrap"><button type="button" class="btn btn-secondary"
                                (click)="CloseModalInfo()">Quit</button>
                            <!-- <button type="button" class="btn btn-primary">Ok</button> --></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Error -->
    <div class="modal modal-bg" id="modalError" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalErrorLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="modalInfoLabel"><i class="fa-solid fa-circle-xmark"></i>
                        Error
                    </h5>
                    <button type="button" class="btn-close" (click)="CloseModalError()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet. Non iste numquam ut explicabo dolore qui voluptas!</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12 d-flex gap-3 flex-wrap">
                            <button type="button" class="btn btn-secondary" (click)="CloseModalError()">Quit</button>
                            <!-- <button type="button" class="btn btn-primary">Ok</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Claim has been initiated -->
    <div class="modal modal-bg" id="initiateclaim" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="initiateclaimLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="initiateclaimLabel"> <i class="fa-check-circle fas"></i>
                        Claim has
                        been initiated</h5>
                    <button type="button" class="btn-close" (click)="CloseModalInitiateClaim()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" width="40%">Claim Number</th>
                                        <th scope="col">578641</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Customer number</td>
                                        <td>0029783</td>
                                    </tr>
                                    <tr>
                                        <td>Claim Category</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Reason Code</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Claim Amount</td>
                                        <td>$0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12 d-flex gap-3 flex-wrap">
                            <p>Press <span class="text-danger">
                                    &lt;CTRL&gt; Left click
                                </span> to save this document in OnBase</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex gap-3 flex-wrap">
                            <div class="d-flex justify-content-center flex-wrap">
                                <button type="button" class="btn btn-primary me-md-2 mb-3 mb-lg-0">Work this
                                    Claim</button>
                                <button type="button" class="btn btn-primary ms-md-2 mb-3 mb-lg-0">Initiate a New
                                    Claim?</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal End User Information -->
    <div class="modal modal-bg" id="enduserinfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="enduserinfoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enduserinfoLabel">Enter End User Information</h5>
                    <button type="button" class="btn-close" (click)="CloseModalEndUserInfo()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h6>Contact Name</h6>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">First
                                Name</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                    <span class="text-danger">*</span>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Middle
                                Initial</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-2">
                                <input type="text" class="form-control" id="Store">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Last
                                Name</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                    <span class="text-danger">*</span>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Company
                                Name</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-divider"></div>
                        <div class="col-lg-12 mb-3">
                            <h6>Contact Information</h6>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Country</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option selected>United states</option>
                                        <option value="1">India</option>
                                        <option value="2">Canada</option>
                                    </select>
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Address</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label"> </label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">City</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">State</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option selected>Alabama</option>
                                        <option value="1">India</option>
                                        <option value="2">Canada</option>
                                    </select>
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Postal
                                Code</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">County</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Phone
                                (Business)</label>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                                <div class="form-input mb-lg-0 mb-2">
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option selected="">+1</option>
                                        <option value="1">+2</option>
                                        <option value="2">+3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store" placeholder="(555) 444 - 1234">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-1">
                                <div class="form-input">
                                    <p class="mb-0 mt-2">Ext.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-2 ps-lg-0">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Phone
                                (Home)</label>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                                <div class="form-input mb-lg-0 mb-2">
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option selected="">+1</option>
                                        <option value="1">+2</option>
                                        <option value="2">+3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store" placeholder="(555) 444 - 1234">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-1">
                                <div class="form-input">
                                    <p class="mb-0 mt-2">Ext.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-2 ps-lg-0">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Phone
                                (Cell)</label>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                                <div class="form-input mb-lg-0 mb-2">
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option selected="">+1</option>
                                        <option value="1">+2</option>
                                        <option value="2">+3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store" placeholder="(555) 444 - 1234">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-1">
                                <div class="form-input">
                                    <p class="mb-0 mt-2">Ext.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-2 ps-lg-0">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Store" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Email</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                                <div class="form-input">
                                    <input type="text" class="form-control" id="Store" placeholder="abc@shawinc.com">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12 d-flex gap-3 flex-wrap">
                            <button type="button" class="btn btn-secondary"
                                (click)="CloseModalEndUserInfo()">Back</button>
                            <button type="button" class="btn btn-primary">Continue Initiation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Add Invoice -->
    <div class="modal modal-bg" id="addinvoice" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="addinvoiceLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addinvoiceLabel">Add Invoice</h5>
                    <button type="button" class="btn-close" (click)="CloseModalAddInvoice()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="invoice-order">004069 Invoice #7577923 - 06/11/2019 (Order #504762) [OPEN A/R]
                            </h4>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="table-responsive table-summary">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col"><input type="checkbox"></th>
                                            <th scope="col">LINE</th>
                                            <th scope="col">ROLL</th>
                                            <th scope="col">STYLE</th>
                                            <th scope="col">COLOR</th>
                                            <th scope="col">LOT</th>
                                            <th scope="col">TYPE</th>
                                            <th scope="col">GRADE</th>
                                            <th scope="col">WIDTH</th>
                                            <th scope="col">LENGTH</th>
                                            <th scope="col">QTY</th>
                                            <th scope="col">UOM</th>
                                            <th scope="col">PRICE (USD)</th>
                                            <th scope="col">AMT (USD)</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>001</td>
                                            <td></td>
                                            <td>DR667</td>
                                            <td>07011</td>
                                            <td>1S05191HW000T00</td>
                                            <td>H</td>
                                            <td>A</td>
                                            <td>0'00"</td>
                                            <td>0'00"</td>
                                            <td>1188.0</td>
                                            <td>SF</td>
                                            <td class="text-end">$2.09</td>
                                            <td class="text-end">$2,482.92</td>
                                        </tr>
                                        <tr class="bg-light">
                                            <td colspan="14" class="text-end">$2,482.92</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 d-flex gap-3 flex-wrap">
                                <!-- <button type="button" class="btn btn-secondary" (click)="CloseModalAddInvoice()">Cancel</button> -->
                                <button type="button" class="btn btn-primary" (click)="openModalPriorClaimSummary()">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Prior Claim Summary -->
    <div class="modal modal-bg" id="priorclaimsummary" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="priorclaimsummaryLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="priorclaimsummaryLabel">Prior Claim Summary</h5>
                    <button type="button" class="btn-close" (click)="CloseModalPriorClaimSummary()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive table-summary table-text-nowrap">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Origin</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Claim #</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Customer #</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Invoice #</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">CRM #</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">DBT #</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Reason Code</th>
                                            <th scope="col">Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Current</td>
                                            <td>OPEN</td>
                                            <td>578045</td>
                                            <td>08/02/2019</td>
                                            <td>0004069</td>
                                            <td>ISI DESIGN AND INSTALLATION SOLUTIONS INC</td>
                                            <td>7577923</td>
                                            <td>08/02/2019</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Store Information -->
    <div class="modal modal-bg" id="storeinvoice" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="storeinvoiceLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="storeinvoiceLabel">Store Information</h5>
                    <button type="button" class="btn-close" (click)="CloseModalStoreInvoice()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="table-responsive table-summary">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col"><input type="checkbox"></th>
                                            <th scope="col">Store #</th>
                                            <th scope="col">commcust</th>
                                            <th scope="col">customer #</th>
                                            <th scope="col">store name</th>
                                            <th scope="col">address</th>
                                            <th scope="col">city,state,zip</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" class="mt-2"></td>
                                            <td>
                                                1090
                                            </td>
                                            <td>
                                                0006812
                                            </td>
                                            <td>
                                                0137711
                                            </td>
                                            <td>
                                                lowe’s companies, inc #1090
                                            </td>
                                            <td>
                                                734 south gilbert road
                                            </td>
                                            <td>
                                                gilbert, AZ 85296
                                            </td>
                                        </tr>


                                        <tr>
                                            <td><input type="checkbox" class="mt-2"></td>
                                            <td>
                                                1090
                                            </td>
                                            <td>
                                                0006812
                                            </td>
                                            <td>
                                                0137711
                                            </td>
                                            <td>
                                                lowe’s companies, inc #1090
                                            </td>
                                            <td>
                                                734 south gilbert road
                                            </td>
                                            <td>
                                                gilbert, AZ 85296
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><input type="checkbox" class="mt-2"></td>
                                            <td>
                                                1090
                                            </td>
                                            <td>
                                                0006812
                                            </td>
                                            <td>
                                                0137711
                                            </td>
                                            <td>
                                                lowe’s companies, inc #1090
                                            </td>
                                            <td>
                                                734 south gilbert road
                                            </td>
                                            <td>
                                                gilbert, AZ 85296
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><input type="checkbox" class="mt-2"></td>
                                            <td>
                                                1090
                                            </td>
                                            <td>
                                                0006812
                                            </td>
                                            <td>
                                                0137711
                                            </td>
                                            <td>
                                                lowe’s companies, inc #1090
                                            </td>
                                            <td>
                                                734 south gilbert road
                                            </td>
                                            <td>
                                                gilbert, AZ 85296
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><input type="checkbox" class="mt-2"></td>
                                            <td>
                                                1090
                                            </td>
                                            <td>
                                                0006812
                                            </td>
                                            <td>
                                                0137711
                                            </td>
                                            <td>
                                                lowe’s companies, inc #1090
                                            </td>
                                            <td>
                                                734 south gilbert road
                                            </td>
                                            <td>
                                                gilbert, AZ 85296
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><input type="checkbox" class="mt-2"></td>
                                            <td>
                                                1090
                                            </td>
                                            <td>
                                                0006812
                                            </td>
                                            <td>
                                                0137711
                                            </td>
                                            <td>
                                                lowe’s companies, inc #1090
                                            </td>
                                            <td>
                                                734 south gilbert road
                                            </td>
                                            <td>
                                                gilbert, AZ 85296
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 d-flex gap-3 flex-wrap">
                                <button type="button" class="btn btn-secondary"
                                    (click)="CloseModalStoreInvoice()">Cancel</button>
                                <button type="button" class="btn btn-primary"> Add </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>