.srch-ti input {
    text-indent: 0;
}

.main .form-control {
    text-indent: 0;
}

.claim-success-table th,
.claim-success-table td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.customer-details {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 5px 0 0 0;
}

.fs-24 {
    font-size: 24px;
}

.font-weight-600 {
    font-weight: 600;
}

.fs-20 {
    font-size: 20px;
}

.font-weight-500 {
    font-weight: 500;
}

.invoice-order {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
}

@media screen and (min-width:992px) {
    .top-25 {
        top: 25px;
    }
}