* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: normal;
    background-color: #F8F8F8;
    font-weight: 400;
}

:root {
    --primary: #5D87FF;
    --white: #ffffff;
    --secondary: #F8F8F8;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --text-primary: #2A3547;
    --text-secondary: #333333;
    --h1: 56px;
    --h2: 42px;
    --h3: 36px;
    --h4: 28px;
    --h5: 22px;
    --h6: 20px;
    /* Heading line-height  */
    --h1-lh: 68px;
    --h2-lh: 51px;
    --h3-lh: 44px;
    --h4-lh: 34px;
    --h5-lh: 27px;
    --h6-lh: 22px;
    /* Body Text  */
    --fs-16: 16px;
    --fs-18: 1.125rem; //Default
    --fs-20: 20px;
    --fs-22: 22px;
    /* Body Text Line-height  */
    --fs-16-lh: 20px;
    --fs-18-lh: 22px;
    --fs-20-lh: 24px;
    --bs-success-rgb: 50, 205, 50;
    --scm-btn-disabled-color: #fff;
    --scm-btn-disabled-bg: #C7C7C7;
    --scm-btn-disabled-border-color: #C7C7C7;
    --scm-btn-disabled-opacity: 1;

}

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    // Box.
    &+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    // Box hover
    &:hover+label:before {
        background: #f6f6f6;
    }

    // Box focus
    &:focus+label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked+label:before {
        background: #5D87FF;
    }

    // Disabled state label.
    &:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }

    // Disabled box.
    &:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
        transform: rotate(45deg);
    }
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AEAEAE;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #AEAEAE;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #AEAEAE;
}

hr {
    border-color: #5d87ff;
    opacity: 1;
    margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    text-transform: capitalize;
    color: #003146;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 1.125rem;
}

h6 {
    font-size: var(--fs-20);
}

.table> :not(caption)>*>* {
    padding-top: 12px;
    padding-bottom: 12px;
}

table th,
table td {
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    color: #2A3547;
    padding-top: 12px;
    padding-bottom: 12px;
}

table th {
    border-bottom-color: #00314680;
    font-weight: 500;
}

.table-text-nowrap th,
.table-text-nowrap td {
    white-space: nowrap;
}

.table-height-scroll {
    max-height: 350px;
}

.cursor-pointer {
    cursor: pointer;
}

.col-form-label {
    font-weight: 500
}

.main h1 {
    font-size: 28px;
}

.search {
    position: relative;
    // box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    display: inline-block;
    width: 50%;
}

.search input {
    border: 1px solid var(--primary);
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--primary);
    text-indent: 30px;
}

/* .search input:focus {
    box-shadow: none;
    border: 1px solid blue;
} */

.search input::placeholder {
    color: var(--primary);
    opacity: 1;
}

.search .fa-search {
    position: absolute;
    top: 10px;
    left: 15px;
    color: var(--primary);
}

.main .btn-primary {
    background: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding: 7px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-16);
    line-height: normal;
}

.main .btn-secondary {
    background: #FFFFFF;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding: 7px 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

.main .btn-secondary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}

.main .btn-primary:disabled,
.main .btn-primary.disabled,
fieldset:disabled .main .btn-primary {
    color: var(--scm-btn-disabled-color);
    pointer-events: none;
    background-color: var(--scm-btn-disabled-bg);
    border-color: var(--scm-btn-disabled-border-color);
    opacity: var(--scm-btn-disabled-opacity);
}

.form-check-input:disabled,
.form-check-input:checked:disabled {
    pointer-events: none;
    filter: none;
    background-color: var(--scm-btn-disabled-bg);
    border-color: var(--scm-btn-disabled-border-color);
    opacity: var(--scm-btn-disabled-opacity);
}

.pagination .active>.page-link,
.page-link.active {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.pagination .page-link {
    color: var(--primary);
}

.claim-info h4 {
    border-bottom: 1px solid var(--primary);
}

.main .form-control {
    border: 1px solid var(--primary);
    border-radius: 10px;
    font-size: 1.125rem;
}

.form-switch {
    padding-left: 3.5em;
    line-height: 30px;
}

.form-switch .form-check-input {
    height: 1.375em;
    width: 2.75em;
    margin-left: -3.5em;
    background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' ><circle r='3' fill='%23fff' /></svg>")
}

.form-switch .form-check-input:focus {
    background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' ><circle r='3' fill='%23fff' /></svg>")
}

.form-check-input {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
}

.form-select {
    background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' ><path fill='none' stroke='%235D87FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6' /></svg>")
}

.form-check-input:checked {
    background-color: #5d87ff;
    border-color: #5d87ff;
}

.form-control:disabled {
    background-color: #E8E8ED;
    border-color: #AFAFAF;
}

.form-select:disabled {
    background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' ><path fill='none' stroke='%23AFAFAF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6' /></svg>")
}

form .search {
    width: 100%;
}

form .search .fa-search {
    position: absolute;
    top: 10px;
    left: auto;
    right: 15px;
    color: var(--primary);
}

.form-calendar i {
    vertical-align: middle;
    color: var(--primary);
    font-size: var(--fs-18);
    padding: 10px 0;
}

.modal .modal-content {
    padding-left: 15px;
    padding-right: 15px;

}

.modal-title {
    font-size: var(--fs-22);
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding-left: 0;
    padding-right: 0;
}

.modal .modal-header {
    border-bottom: 1px solid var(--primary);

}

.modal-footer>* {
    margin: 0 -15px;
}

.modal .modal-footer {
    border-top: 1px solid var(--primary);
    padding-top: 25px;
    padding-bottom: 25px;
}

.modal-bg::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}

.modal-dialog {
    z-index: 9;
}

.form-input {
    position: relative;
}

.form-input span {
    position: absolute;
    right: -10px;
    top: 0;
}

.modal-divider {
    border-bottom: 1px solid var(--primary);
    margin: 0 auto 15px;
    width: 97% !important;
}

@media (min-width: 768px) {

    .main .btn-primary,
    .main .btn-secondary {
        padding: 10px 30px;
    }
}

@media (max-width: 767px) {

    .main .btn-primary,
    .main .btn-secondary {
        padding: 10px 15px;
        font-size: 12px;
        width: 100%;
    }

    .search {
        width: 100%;
        margin-bottom: 0;
    }

    .modal-dialog {
        margin-left: 5.5rem;
    }

}

@media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 1400px;
    }
}